# Ignorar ambientes virtuais
venv/

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de logs
*.log

# Ignorar arquivos de configuração locais do IDE (por exemplo, VSCode, PyCharm)
.vscode/
.idea/

# Ignorar arquivos de backup do editor de texto
*~
